workflow.json
{
  "name": "Solar Estimate & Lead Qualifier",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "solar-estimate",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "e1a1b1c1-0001-4000-8000-000000000001",
      "name": "POST /solar-estimate",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        260,
        300
      ],
      "webhookId": "solar-estimate-wh"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// SOLAR + BATTERY ESTIMATION ENGINE v2.0\n// n8n Code Node for POST /solar-estimate\n// ============================================\n// >>> EDIT THIS CONFIG TO ADJUST ALL ESTIMATES <<<\n\nconst CONFIG = {\n  // --- Electricity Assumptions ---\n  electricity_rate_aud_per_kwh: 0.30,\n  avg_days_per_month: 30.44,\n\n  // --- Solar Panel Sizing ---\n  solar: {\n    kwh_per_kw_per_day: 4.0,\n    coverage_min: 0.80,\n    coverage_max: 1.00,\n    sizes_kw: [3.3, 5, 6.6, 8, 10, 13.2, 15, 20],\n    tiers: {\n      economy: {\n        label: 'Economy',\n        panel_type: 'Budget panels + string inverter',\n        warranty_years: 10,\n        price_per_kw: 900,\n      },\n      premium: {\n        label: 'Premium',\n        panel_type: 'Tier-1 panels + microinverter',\n        warranty_years: 25,\n        price_per_kw: 1300,\n      },\n    },\n  },\n\n  // --- Battery Sizing ---\n  battery: {\n    daily_coverage: 0.60,\n    sizes_kwh: [5, 10, 13.5, 15, 20],\n    dod_factor: 1.25,        // depth-of-discharge (lithium 80%)\n    inefficiency_factor: 1.1, // 10% system losses\n    tiers: {\n      economy: {\n        label: 'Economy',\n        battery_type: 'Standard lithium',\n        warranty_years: 10,\n        price_per_kwh: 800,\n      },\n      premium: {\n        label: 'Premium',\n        battery_type: 'Premium lithium (Tesla/BYD)',\n        warranty_years: 15,\n        price_per_kwh: 1200,\n      },\n    },\n    retrofit_premium: 1.15,\n  },\n\n  // --- Savings Assumptions ---\n  savings: {\n    self_consumption_no_battery_min: 0.30,\n    self_consumption_no_battery_max: 0.50,\n    self_consumption_with_battery_min: 0.70,\n    self_consumption_with_battery_max: 0.85,\n    feed_in_tariff: 0.05,\n  },\n\n  // --- STC Rebates ---\n  stc: {\n    deeming_years: 5,\n    stc_price_aud: 40,\n    battery_stcs_per_kwh: 8.4,\n    zones: {\n      1: { rating: 1.622, prefixes: ['08','09'], label: 'Zone 1 (NT/Far North QLD)' },\n      2: { rating: 1.536, prefixes: ['40','41','42','43','44','45','46','47','48','49','60','61','62','63','64','65','66','67','68','69'], label: 'Zone 2 (QLD/WA)' },\n      3: { rating: 1.382, prefixes: ['10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31','32','33','34','35','36','37','38','39','50','51','52','53','54','55','56','57','58','59'], label: 'Zone 3 (NSW/VIC/SA)' },\n      4: { rating: 1.185, prefixes: ['70','71','72','73','74','75','76','77','78','79'], label: 'Zone 4 (TAS)' },\n    },\n    default_zone: 3,\n  },\n};\n\n// ============================================\n// INPUT EXTRACTION\n// ============================================\nconst body = $input.first().json.body || $input.first().json;\n\n// --- HONEYPOT ---\nif (body.website || body._gotcha || body.honeypot) {\n  return [{ json: { success: false, error: 'Invalid submission.' } }];\n}\n\n// --- VALIDATION ---\nconst required = ['full_name', 'email', 'bill_monthly_aud'];\nconst missing = required.filter(f => !body[f]);\nif (missing.length) {\n  return [{ json: { success: false, error: 'Missing required fields: ' + missing.join(', ') } }];\n}\n\nconst emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\nif (!emailRegex.test(body.email)) {\n  return [{ json: { success: false, error: 'Invalid email address.' } }];\n}\n\nconst bill = parseFloat(body.bill_monthly_aud);\nif (isNaN(bill) || bill <= 0 || bill > 50000) {\n  return [{ json: { success: false, error: 'bill_monthly_aud must be a positive number (max $50,000).' } }];\n}\n\nconst validGoals = ['solar_only', 'battery_only', 'solar_plus_battery'];\nconst goal = validGoals.includes(body.goal) ? body.goal : 'solar_plus_battery';\nconst validPhases = ['single', 'two', 'three'];\nconst phase = validPhases.includes(body.phase) ? body.phase : 'single';\n\n// ============================================\n// ZONE DETECTION (from postcode)\n// ============================================\nconst postcodeMatch = (body.postcode || body.address || '').match(/\\b(\\d{4})\\b/);\nconst postcodeStr = postcodeMatch ? postcodeMatch[1] : '';\nconst postcodePrefix = postcodeStr.substring(0, 2);\n\nlet detected_zone = CONFIG.stc.default_zone;\nlet zone_rating = CONFIG.stc.zones[CONFIG.stc.default_zone].rating;\nlet zone_label = CONFIG.stc.zones[CONFIG.stc.default_zone].label;\n\nfor (const [zNum, zData] of Object.entries(CONFIG.stc.zones)) {\n  if (zData.prefixes.some(p => postcodePrefix === p)) {\n    detected_zone = parseInt(zNum);\n    zone_rating = zData.rating;\n    zone_label = zData.label;\n    break;\n  }\n}\n\n// ============================================\n// ESTIMATION LOGIC\n// ============================================\nconst monthly_kwh = bill / CONFIG.electricity_rate_aud_per_kwh;\nconst daily_kwh = monthly_kwh / CONFIG.avg_days_per_month;\nconst annual_kwh = monthly_kwh * 12;\n\nconst existing_solar_kw = body.has_solar ? (parseFloat(body.solar_kw) || 0) : 0;\nconst existing_battery_kwh = body.has_battery ? (parseFloat(body.battery_kwh) || 0) : 0;\n\n// Solar sizing\nlet rec_solar_kw = 0;\nif (goal === 'solar_only' || goal === 'solar_plus_battery') {\n  const target_daily = daily_kwh * CONFIG.solar.coverage_max;\n  const needed_kw = target_daily / CONFIG.solar.kwh_per_kw_per_day;\n  const net_kw = Math.max(needed_kw - existing_solar_kw, 0);\n  rec_solar_kw = CONFIG.solar.sizes_kw.find(s => s >= net_kw)\n    || CONFIG.solar.sizes_kw[CONFIG.solar.sizes_kw.length - 1];\n}\n\n// Battery sizing\nlet rec_battery_kwh = 0;\nif (goal === 'battery_only' || goal === 'solar_plus_battery') {\n  const target_kwh = daily_kwh * CONFIG.battery.daily_coverage;\n  const net_kwh = Math.max(target_kwh - existing_battery_kwh, 0);\n  rec_battery_kwh = CONFIG.battery.sizes_kwh.find(s => s >= net_kwh)\n    || CONFIG.battery.sizes_kwh[CONFIG.battery.sizes_kwh.length - 1];\n}\n\nconst phase_multiplier = phase === 'three' ? 1.08 : phase === 'two' ? 1.04 : 1.0;\n\n// ============================================\n// STC REBATE CALCULATION\n// ============================================\nconst solar_stcs = rec_solar_kw > 0 ? Math.floor(rec_solar_kw * zone_rating * CONFIG.stc.deeming_years) : 0;\nconst battery_stcs = rec_battery_kwh > 0 ? Math.floor(rec_battery_kwh * CONFIG.stc.battery_stcs_per_kwh) : 0;\nconst total_stcs = solar_stcs + battery_stcs;\nconst stc_rebate_aud = total_stcs * CONFIG.stc.stc_price_aud;\n\n// ============================================\n// PACKAGE TIER PRICING\n// ============================================\nfunction calcTier(tierName) {\n  const st = CONFIG.solar.tiers[tierName];\n  const bt = CONFIG.battery.tiers[tierName];\n  let solar_cost = rec_solar_kw > 0 ? rec_solar_kw * st.price_per_kw : 0;\n  let battery_cost = 0;\n  if (rec_battery_kwh > 0) {\n    battery_cost = rec_battery_kwh * bt.price_per_kwh;\n    if (goal === 'battery_only') battery_cost *= CONFIG.battery.retrofit_premium;\n  }\n  const gross = Math.round((solar_cost + battery_cost) * phase_multiplier / 100) * 100;\n  const net = Math.max(0, gross - stc_rebate_aud);\n  return {\n    tier: tierName,\n    label: st.label,\n    panel_type: st.panel_type,\n    battery_type: bt.battery_type,\n    warranty_solar: st.warranty_years,\n    warranty_battery: bt.warranty_years,\n    gross_price_aud: gross,\n    stc_rebate_aud: stc_rebate_aud,\n    net_price_aud: net,\n    solar_cost_component: Math.round(solar_cost * phase_multiplier / 100) * 100,\n  };\n}\n\nconst economy = calcTier('economy');\nconst premium = calcTier('premium');\n\n// ============================================\n// SAVINGS CALCULATION\n// ============================================\nconst hasBatt = rec_battery_kwh > 0;\nconst sc_min = hasBatt ? CONFIG.savings.self_consumption_with_battery_min : CONFIG.savings.self_consumption_no_battery_min;\nconst sc_max = hasBatt ? CONFIG.savings.self_consumption_with_battery_max : CONFIG.savings.self_consumption_no_battery_max;\nconst total_solar_kw = existing_solar_kw + rec_solar_kw;\nconst daily_gen = total_solar_kw * CONFIG.solar.kwh_per_kw_per_day;\nconst annual_gen = daily_gen * 365;\n\nconst sav_min = ((annual_gen * sc_min * CONFIG.electricity_rate_aud_per_kwh) + (annual_gen * (1 - sc_max) * CONFIG.savings.feed_in_tariff)) / 12;\nconst sav_max = ((annual_gen * sc_max * CONFIG.electricity_rate_aud_per_kwh) + (annual_gen * (1 - sc_min) * CONFIG.savings.feed_in_tariff)) / 12;\n\n// ============================================\n// EXPLANATION BULLETS\n// ============================================\nconst bullets = [];\nif (rec_solar_kw > 0) {\n  bullets.push('Recommended ' + rec_solar_kw + 'kW solar system');\n  bullets.push('Estimated daily generation: ' + daily_gen.toFixed(1) + ' kWh');\n}\nif (rec_battery_kwh > 0) {\n  bullets.push('Recommended ' + rec_battery_kwh + 'kWh battery storage');\n  bullets.push('Battery covers ~' + Math.round(CONFIG.battery.daily_coverage * 100) + '% of overnight usage');\n}\nbullets.push('Based on $' + bill + '/month bill (~' + Math.round(monthly_kwh) + ' kWh/month)');\nif (stc_rebate_aud > 0) bullets.push('STC government rebate: ' + total_stcs + ' certificates x $' + CONFIG.stc.stc_price_aud + ' = -$' + stc_rebate_aud.toLocaleString());\nif (existing_solar_kw > 0) bullets.push('Accounts for existing ' + existing_solar_kw + 'kW solar');\nif (existing_battery_kwh > 0) bullets.push('Accounts for existing ' + existing_battery_kwh + 'kWh battery');\nif (phase !== 'single') bullets.push(phase.charAt(0).toUpperCase() + phase.slice(1) + '-phase supply (+' + Math.round((phase_multiplier - 1) * 100) + '% inverter premium)');\n\nconst packageNames = {\n  solar_only: 'Solar Power Package',\n  battery_only: 'Battery Storage Package',\n  solar_plus_battery: 'Solar + Battery Bundle',\n};\nconst pkg = packageNames[goal] || packageNames.solar_plus_battery;\n\n// ============================================\n// LEAD ID\n// ============================================\nconst lead_id = 'JBI-' + Date.now().toString(36) + Math.random().toString(36).substr(2, 4);\n\n// ============================================\n// HTML REPORT\n// ============================================\nconst d = new Date().toLocaleDateString('en-AU');\nconst html = `<!DOCTYPE html>\n<html><head><meta charset=\"UTF-8\"><title>Solar Estimate - ${body.full_name}</title>\n<style>\n*{box-sizing:border-box;margin:0;padding:0}\nbody{font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,sans-serif;background:#f0f2f5;padding:20px;color:#333}\n.r{max-width:800px;margin:0 auto;background:#fff;border-radius:16px;overflow:hidden;box-shadow:0 4px 24px rgba(0,0,0,.08)}\n.hd{background:linear-gradient(135deg,#1a5276 0%,#27ae60 100%);color:#fff;padding:48px 40px}\n.hd h1{font-size:28px;margin-bottom:8px;font-weight:700}.hd p{opacity:.85;font-size:15px}\n.s{padding:28px 40px;border-bottom:1px solid #eee}\n.s h2{color:#1a5276;margin-bottom:16px;font-size:20px;font-weight:600}\n.pg{display:grid;grid-template-columns:1fr 1fr;gap:16px;margin:16px 0}\n.pc{border:2px solid #e0e0e0;border-radius:14px;padding:24px;text-align:center;position:relative}\n.pc.pm{border-color:#27ae60}\n.pc .badge{position:absolute;top:-12px;left:50%;transform:translateX(-50%);background:#27ae60;color:#fff;padding:4px 16px;border-radius:20px;font-size:11px;font-weight:700;text-transform:uppercase}\n.pc h3{font-size:18px;color:#1a5276;margin-bottom:12px}\n.pc .gross{text-decoration:line-through;color:#999;font-size:14px}\n.pc .rebate{color:#27ae60;font-weight:600;font-size:14px;margin:4px 0}\n.pc .net{font-size:32px;font-weight:800;color:#1a5276;margin:8px 0}\n.pc .det{font-size:13px;color:#666;margin-top:8px}\n.pc .warr{font-weight:600;margin-top:6px;font-size:13px}\n.hl{background:#eafaf1;border-radius:12px;padding:24px;margin:12px 0}\n.sv{font-size:24px;color:#2ecc71;font-weight:700}\n.g{display:grid;grid-template-columns:1fr 1fr;gap:12px}\n.gi{background:#f8f9fa;border-radius:10px;padding:18px}\n.gi label{font-size:11px;color:#888;text-transform:uppercase;letter-spacing:.8px;font-weight:600}\n.gi .v{font-size:24px;font-weight:700;color:#1a5276;margin-top:6px}\nul{padding-left:20px}li{margin:8px 0;color:#555;line-height:1.6;font-size:15px}\n.ct{background:linear-gradient(135deg,#27ae60,#2ecc71);color:#fff;padding:32px 40px;text-align:center}\n.ct p{font-size:18px;font-weight:600}.ct .sub{font-size:14px;opacity:.85;margin-top:8px;font-weight:400}\n.ft{padding:24px 40px;text-align:center;color:#aaa;font-size:11px;line-height:1.6}\n@media print{body{background:#fff;padding:0}.r{box-shadow:none;border-radius:0}}\n@media(max-width:600px){.pg,.g{grid-template-columns:1fr}.hd{padding:32px 24px}.s{padding:24px}}\n</style></head><body><div class=\"r\">\n<div class=\"hd\"><h1>${pkg}</h1><p>Prepared for ${body.full_name} | ${d} | Ref: ${lead_id}</p></div>\n<div class=\"s\"><h2>Your Packages</h2>\n<div class=\"pg\">\n<div class=\"pc\"><h3>Economy</h3><div class=\"gross\">$${economy.gross_price_aud.toLocaleString()}</div><div class=\"rebate\">STC Rebate: -$${stc_rebate_aud.toLocaleString()}</div><div class=\"net\">$${economy.net_price_aud.toLocaleString()}</div><div class=\"det\">${economy.panel_type}</div>${rec_battery_kwh > 0 ? '<div class=\"det\">' + economy.battery_type + '</div>' : ''}<div class=\"warr\">${economy.warranty_solar}-year warranty</div></div>\n<div class=\"pc pm\"><div class=\"badge\">Recommended</div><h3>Premium</h3><div class=\"gross\">$${premium.gross_price_aud.toLocaleString()}</div><div class=\"rebate\">STC Rebate: -$${stc_rebate_aud.toLocaleString()}</div><div class=\"net\">$${premium.net_price_aud.toLocaleString()}</div><div class=\"det\">${premium.panel_type}</div>${rec_battery_kwh > 0 ? '<div class=\"det\">' + premium.battery_type + '</div>' : ''}<div class=\"warr\">${premium.warranty_solar}-year warranty</div></div>\n</div></div>\n<div class=\"s\"><div class=\"hl\" style=\"background:#e8f8f5\"><div class=\"sv\">Save $${Math.round(sav_min)} &ndash; $${Math.round(sav_max)} /month</div>\n<p style=\"color:#666;margin-top:6px;font-size:14px\">~$${Math.round(sav_min*12).toLocaleString()} &ndash; $${Math.round(sav_max*12).toLocaleString()} per year</p></div></div>\n<div class=\"s\"><h2>System Details</h2><div class=\"g\">\n${rec_solar_kw > 0 ? '<div class=\"gi\"><label>Solar System</label><div class=\"v\">' + rec_solar_kw + ' kW</div></div>' : ''}\n${rec_battery_kwh > 0 ? '<div class=\"gi\"><label>Battery Storage</label><div class=\"v\">' + rec_battery_kwh + ' kWh</div></div>' : ''}\n<div class=\"gi\"><label>Monthly Usage</label><div class=\"v\">${Math.round(monthly_kwh)} kWh</div></div>\n<div class=\"gi\"><label>Monthly Bill</label><div class=\"v\">$${bill}</div></div>\n<div class=\"gi\"><label>STC Zone</label><div class=\"v\">${zone_label}</div></div>\n<div class=\"gi\"><label>STCs Claimed</label><div class=\"v\">${total_stcs} ($${stc_rebate_aud.toLocaleString()})</div></div>\n</div></div>\n<div class=\"s\"><h2>How We Calculated This</h2>\n<ul>${bullets.map(b => '<li>' + b + '</li>').join('')}</ul></div>\n<div class=\"ct\"><p>Upload your electricity bill for a firm quote</p>\n<p class=\"sub\">Our team will review and provide a detailed, obligation-free quote within 24 hours.</p></div>\n<div class=\"ft\"><p>Ballpark estimate only. Final pricing depends on site inspection, roof type, shading analysis, and panel/inverter selection.</p>\n<p style=\"margin-top:8px\">Ref: ${lead_id} | Generated ${new Date().toISOString()}</p></div>\n</div></body></html>`;\n\n// ============================================\n// RESPONSE\n// ============================================\nreturn [{ json: {\n  success: true,\n  lead_id: lead_id,\n  recommended_package: pkg,\n  system: {\n    solar_kw: rec_solar_kw,\n    battery_kwh: rec_battery_kwh,\n    existing_solar_kw,\n    existing_battery_kwh,\n  },\n  packages: {\n    economy: economy,\n    premium: premium,\n  },\n  price_range_aud: [economy.net_price_aud, premium.net_price_aud],\n  stc_rebate: {\n    zone: detected_zone,\n    zone_label: zone_label,\n    zone_rating: zone_rating,\n    solar_stcs: solar_stcs,\n    battery_stcs: battery_stcs,\n    total_stcs: total_stcs,\n    stc_price_aud: CONFIG.stc.stc_price_aud,\n    rebate_aud: stc_rebate_aud,\n  },\n  estimated_monthly_savings_aud: [Math.round(sav_min), Math.round(sav_max)],\n  estimated_annual_savings_aud: [Math.round(sav_min * 12), Math.round(sav_max * 12)],\n  explanation_bullets: bullets,\n  usage: {\n    monthly_kwh: Math.round(monthly_kwh),\n    daily_kwh: Math.round(daily_kwh * 10) / 10,\n    annual_kwh: Math.round(annual_kwh),\n  },\n  customer: {\n    full_name: body.full_name,\n    email: body.email,\n    mobile: body.mobile || '',\n    address: body.address || '',\n    postcode: postcodeStr,\n    goal,\n    phase,\n    notes: body.notes || '',\n  },\n  maps_url: body.address ? 'https://www.google.com/maps/search/?api=1&query=' + encodeURIComponent(body.address) : null,\n  next_step: {\n    cta: 'Upload your electricity bill for a firm quote',\n    requires_bill_upload: true,\n    message: 'Our team will review your bill and provide a detailed, obligation-free quote within 24 hours.',\n  },\n  report_id: lead_id,\n  pdf_url: 'data:text/html;base64,' + Buffer.from(html).toString('base64'),\n  report_html: html,\n  _bill_monthly_aud: bill,\n  // Client-side recalculation params for battery slider\n  _calc_params: {\n    daily_kwh: daily_kwh,\n    electricity_rate: CONFIG.electricity_rate_aud_per_kwh,\n    feed_in_tariff: CONFIG.savings.feed_in_tariff,\n    phase_multiplier: phase_multiplier,\n    solar_kw: rec_solar_kw,\n    kwh_per_kw_per_day: CONFIG.solar.kwh_per_kw_per_day,\n    battery_sizes: CONFIG.battery.sizes_kwh,\n    battery_dod_factor: CONFIG.battery.dod_factor,\n    battery_inefficiency_factor: CONFIG.battery.inefficiency_factor,\n    battery_price_economy: CONFIG.battery.tiers.economy.price_per_kwh,\n    battery_price_premium: CONFIG.battery.tiers.premium.price_per_kwh,\n    solar_cost_economy: economy.solar_cost_component,\n    solar_cost_premium: premium.solar_cost_component,\n    retrofit_premium: CONFIG.battery.retrofit_premium,\n    stc_solar_rebate: solar_stcs * CONFIG.stc.stc_price_aud,\n    stc_battery_per_kwh: CONFIG.stc.battery_stcs_per_kwh * CONFIG.stc.stc_price_aud,\n    self_consumption: {\n      no_battery: { min: CONFIG.savings.self_consumption_no_battery_min, max: CONFIG.savings.self_consumption_no_battery_max },\n      with_battery: { min: CONFIG.savings.self_consumption_with_battery_min, max: CONFIG.savings.self_consumption_with_battery_max },\n    },\n    goal: goal,\n  },\n}}];\n"
      },
      "id": "e1a1b1c1-0001-4000-8000-000000000002",
      "name": "Estimate Engine",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e1a1b1c1-0001-4000-8000-000000000003",
      "name": "Send Estimate Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        780,
        300
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "solar-firm-quote",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "e1a1b1c1-0001-4000-8000-000000000004",
      "name": "POST /solar-firm-quote",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        260,
        620
      ],
      "webhookId": "solar-firm-quote-wh"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// FIRM QUOTE & LEAD QUALIFIER ENGINE v2.0\n// n8n Code Node for POST /solar-firm-quote\n// ============================================\n// CONFIG must stay in sync with estimate-engine.js\n\nconst CONFIG = {\n  electricity_rate_aud_per_kwh: 0.30,\n  avg_days_per_month: 30.44,\n  solar: {\n    kwh_per_kw_per_day: 4.0,\n    coverage_min: 0.80,\n    coverage_max: 1.00,\n    sizes_kw: [3.3, 5, 6.6, 8, 10, 13.2, 15, 20],\n    tiers: {\n      economy: { label: 'Economy', panel_type: 'Budget panels + string inverter', warranty_years: 10, price_per_kw: 900 },\n      premium: { label: 'Premium', panel_type: 'Tier-1 panels + microinverter', warranty_years: 25, price_per_kw: 1300 },\n    },\n  },\n  battery: {\n    daily_coverage: 0.60,\n    sizes_kwh: [5, 10, 13.5, 15, 20],\n    dod_factor: 1.25,\n    inefficiency_factor: 1.1,\n    tiers: {\n      economy: { label: 'Economy', battery_type: 'Standard lithium', warranty_years: 10, price_per_kwh: 800 },\n      premium: { label: 'Premium', battery_type: 'Premium lithium (Tesla/BYD)', warranty_years: 15, price_per_kwh: 1200 },\n    },\n    retrofit_premium: 1.15,\n  },\n  savings: {\n    self_consumption_no_battery_min: 0.30,\n    self_consumption_no_battery_max: 0.50,\n    self_consumption_with_battery_min: 0.70,\n    self_consumption_with_battery_max: 0.85,\n    feed_in_tariff: 0.05,\n  },\n  stc: {\n    deeming_years: 5,\n    stc_price_aud: 40,\n    battery_stcs_per_kwh: 8.4,\n    zones: {\n      1: { rating: 1.622, prefixes: ['08','09'], label: 'Zone 1 (NT/Far North QLD)' },\n      2: { rating: 1.536, prefixes: ['40','41','42','43','44','45','46','47','48','49','60','61','62','63','64','65','66','67','68','69'], label: 'Zone 2 (QLD/WA)' },\n      3: { rating: 1.382, prefixes: ['10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31','32','33','34','35','36','37','38','39','50','51','52','53','54','55','56','57','58','59'], label: 'Zone 3 (NSW/VIC/SA)' },\n      4: { rating: 1.185, prefixes: ['70','71','72','73','74','75','76','77','78','79'], label: 'Zone 4 (TAS)' },\n    },\n    default_zone: 3,\n  },\n  sales_email_to: 'sales@example.com',\n  sales_email_subject_prefix: '[Solar Lead]',\n};\n\n// ============================================\n// INPUT & VALIDATION (stricter for firm quote)\n// ============================================\nconst body = $input.first().json.body || $input.first().json;\n\nif (body.website || body._gotcha || body.honeypot) {\n  return [{ json: { success: false, error: 'Invalid submission.' } }];\n}\n\nconst required = ['full_name', 'email', 'bill_monthly_aud', 'address'];\nconst missing = required.filter(f => !body[f]);\nif (missing.length) {\n  return [{ json: { success: false, error: 'Missing required fields: ' + missing.join(', ') } }];\n}\n\nconst emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\nif (!emailRegex.test(body.email)) {\n  return [{ json: { success: false, error: 'Invalid email address.' } }];\n}\n\nconst bill = parseFloat(body.bill_monthly_aud);\nif (isNaN(bill) || bill <= 0 || bill > 50000) {\n  return [{ json: { success: false, error: 'bill_monthly_aud must be a positive number (max $50,000).' } }];\n}\n\nlet fileInfo = null;\nconst binaryData = $input.first().binary;\nif (binaryData) {\n  const fileKey = Object.keys(binaryData)[0];\n  if (fileKey) {\n    const file = binaryData[fileKey];\n    const fileName = file.fileName || 'unknown';\n    const fileSize = file.fileSize || 0;\n    const ext = fileName.split('.').pop().toLowerCase();\n    if (fileSize > 10 * 1024 * 1024) return [{ json: { success: false, error: 'File too large. Maximum 10MB.' } }];\n    if (!['pdf', 'jpg', 'jpeg', 'png'].includes(ext)) return [{ json: { success: false, error: 'Invalid file type. Accepted: PDF, JPG, PNG.' } }];\n    fileInfo = { fileName, fileSize, mimeType: file.mimeType, extension: ext };\n  }\n}\n\nconst validGoals = ['solar_only', 'battery_only', 'solar_plus_battery'];\nconst goal = validGoals.includes(body.goal) ? body.goal : 'solar_plus_battery';\nconst validPhases = ['single', 'two', 'three'];\nconst phase = validPhases.includes(body.phase) ? body.phase : 'single';\n\n// ============================================\n// ZONE DETECTION\n// ============================================\nconst postcodeMatch = (body.postcode || body.address || '').match(/\\b(\\d{4})\\b/);\nconst postcodeStr = postcodeMatch ? postcodeMatch[1] : '';\nconst postcodePrefix = postcodeStr.substring(0, 2);\n\nlet detected_zone = CONFIG.stc.default_zone;\nlet zone_rating = CONFIG.stc.zones[CONFIG.stc.default_zone].rating;\nlet zone_label = CONFIG.stc.zones[CONFIG.stc.default_zone].label;\n\nfor (const [zNum, zData] of Object.entries(CONFIG.stc.zones)) {\n  if (zData.prefixes.some(p => postcodePrefix === p)) {\n    detected_zone = parseInt(zNum);\n    zone_rating = zData.rating;\n    zone_label = zData.label;\n    break;\n  }\n}\n\n// ============================================\n// ESTIMATION\n// ============================================\nconst monthly_kwh = bill / CONFIG.electricity_rate_aud_per_kwh;\nconst daily_kwh = monthly_kwh / CONFIG.avg_days_per_month;\n\nconst existing_solar_kw = body.has_solar ? (parseFloat(body.solar_kw) || 0) : 0;\nconst existing_battery_kwh = body.has_battery ? (parseFloat(body.battery_kwh) || 0) : 0;\n\nlet rec_solar_kw = 0;\nif (goal === 'solar_only' || goal === 'solar_plus_battery') {\n  const target = daily_kwh * CONFIG.solar.coverage_max;\n  const needed = target / CONFIG.solar.kwh_per_kw_per_day;\n  const net = Math.max(needed - existing_solar_kw, 0);\n  rec_solar_kw = CONFIG.solar.sizes_kw.find(s => s >= net) || CONFIG.solar.sizes_kw[CONFIG.solar.sizes_kw.length - 1];\n}\n\nlet rec_battery_kwh = 0;\nif (goal === 'battery_only' || goal === 'solar_plus_battery') {\n  const target = daily_kwh * CONFIG.battery.daily_coverage;\n  const net = Math.max(target - existing_battery_kwh, 0);\n  rec_battery_kwh = CONFIG.battery.sizes_kwh.find(s => s >= net) || CONFIG.battery.sizes_kwh[CONFIG.battery.sizes_kwh.length - 1];\n}\n\nconst phase_multiplier = phase === 'three' ? 1.08 : phase === 'two' ? 1.04 : 1.0;\n\n// STC\nconst solar_stcs = rec_solar_kw > 0 ? Math.floor(rec_solar_kw * zone_rating * CONFIG.stc.deeming_years) : 0;\nconst battery_stcs = rec_battery_kwh > 0 ? Math.floor(rec_battery_kwh * CONFIG.stc.battery_stcs_per_kwh) : 0;\nconst total_stcs = solar_stcs + battery_stcs;\nconst stc_rebate_aud = total_stcs * CONFIG.stc.stc_price_aud;\n\n// Package tiers\nfunction calcTier(tierName) {\n  const st = CONFIG.solar.tiers[tierName];\n  const bt = CONFIG.battery.tiers[tierName];\n  let solar_cost = rec_solar_kw > 0 ? rec_solar_kw * st.price_per_kw : 0;\n  let battery_cost = 0;\n  if (rec_battery_kwh > 0) {\n    battery_cost = rec_battery_kwh * bt.price_per_kwh;\n    if (goal === 'battery_only') battery_cost *= CONFIG.battery.retrofit_premium;\n  }\n  const gross = Math.round((solar_cost + battery_cost) * phase_multiplier / 100) * 100;\n  const net = Math.max(0, gross - stc_rebate_aud);\n  return { tier: tierName, label: st.label, panel_type: st.panel_type, battery_type: bt.battery_type, warranty_solar: st.warranty_years, warranty_battery: bt.warranty_years, gross_price_aud: gross, stc_rebate_aud, net_price_aud: net };\n}\n\nconst economy = calcTier('economy');\nconst premium = calcTier('premium');\n\n// Savings\nconst hasBatt = rec_battery_kwh > 0;\nconst sc_min = hasBatt ? CONFIG.savings.self_consumption_with_battery_min : CONFIG.savings.self_consumption_no_battery_min;\nconst sc_max = hasBatt ? CONFIG.savings.self_consumption_with_battery_max : CONFIG.savings.self_consumption_no_battery_max;\nconst total_solar_kw = existing_solar_kw + rec_solar_kw;\nconst daily_gen = total_solar_kw * CONFIG.solar.kwh_per_kw_per_day;\nconst annual_gen = daily_gen * 365;\nconst sav_min = ((annual_gen * sc_min * CONFIG.electricity_rate_aud_per_kwh) + (annual_gen * (1 - sc_max) * CONFIG.savings.feed_in_tariff)) / 12;\nconst sav_max = ((annual_gen * sc_max * CONFIG.electricity_rate_aud_per_kwh) + (annual_gen * (1 - sc_min) * CONFIG.savings.feed_in_tariff)) / 12;\n\nconst packageNames = { solar_only: 'Solar Power Package', battery_only: 'Battery Storage Package', solar_plus_battery: 'Solar + Battery Bundle' };\nconst pkg = packageNames[goal] || packageNames.solar_plus_battery;\n\n// Lead ID (use from estimate if provided, else generate)\nconst lead_id = body.lead_id || ('JBI-' + Date.now().toString(36) + Math.random().toString(36).substr(2, 4));\n\n// ============================================\n// GOOGLE MAPS + SALES EMAIL\n// ============================================\nconst mapsUrl = 'https://www.google.com/maps/search/?api=1&query=' + encodeURIComponent(body.address);\n\nconst emailHtml = `<!DOCTYPE html><html><head><meta charset=\"UTF-8\"></head><body style=\"font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',sans-serif;color:#333;max-width:700px;margin:0 auto;padding:20px;\">\n<div style=\"background:linear-gradient(135deg,#1a5276,#27ae60);color:white;padding:24px 32px;border-radius:12px 12px 0 0;\">\n<h1 style=\"margin:0;font-size:22px;\">${CONFIG.sales_email_subject_prefix} New Firm Quote Request</h1>\n<p style=\"margin:8px 0 0;opacity:.85;\">Lead ID: ${lead_id} | High-intent lead - bill uploaded</p></div>\n<div style=\"border:1px solid #eee;border-top:none;padding:24px 32px;border-radius:0 0 12px 12px;\">\n<h2 style=\"color:#1a5276;font-size:18px;margin-top:0;\">Customer Details</h2>\n<table style=\"width:100%;border-collapse:collapse;margin-bottom:20px;\">\n<tr><td style=\"padding:8px 0;color:#888;width:140px;\">Name</td><td style=\"padding:8px 0;font-weight:600;\">${body.full_name}</td></tr>\n<tr><td style=\"padding:8px 0;color:#888;\">Email</td><td style=\"padding:8px 0;\"><a href=\"mailto:${body.email}\">${body.email}</a></td></tr>\n<tr><td style=\"padding:8px 0;color:#888;\">Mobile</td><td style=\"padding:8px 0;\">${body.mobile || 'Not provided'}</td></tr>\n<tr><td style=\"padding:8px 0;color:#888;\">Address</td><td style=\"padding:8px 0;\"><a href=\"${mapsUrl}\">${body.address}</a></td></tr>\n</table>\n<h2 style=\"color:#1a5276;font-size:18px;\">Package Comparison</h2>\n<table style=\"width:100%;border-collapse:collapse;margin-bottom:20px;\">\n<tr><td style=\"padding:8px 0;color:#888;width:140px;\">System</td><td style=\"padding:8px 0;\">${rec_solar_kw > 0 ? rec_solar_kw + 'kW Solar' : ''} ${rec_battery_kwh > 0 ? '+ ' + rec_battery_kwh + 'kWh Battery' : ''}</td></tr>\n<tr><td style=\"padding:8px 0;color:#888;\">Economy</td><td style=\"padding:8px 0;\">$${economy.gross_price_aud.toLocaleString()} gross - $${stc_rebate_aud.toLocaleString()} STC = <strong style=\"color:#27ae60\">$${economy.net_price_aud.toLocaleString()}</strong></td></tr>\n<tr><td style=\"padding:8px 0;color:#888;\">Premium</td><td style=\"padding:8px 0;\">$${premium.gross_price_aud.toLocaleString()} gross - $${stc_rebate_aud.toLocaleString()} STC = <strong style=\"color:#27ae60\">$${premium.net_price_aud.toLocaleString()}</strong></td></tr>\n<tr><td style=\"padding:8px 0;color:#888;\">Monthly Savings</td><td style=\"padding:8px 0;\">$${Math.round(sav_min)} - $${Math.round(sav_max)}</td></tr>\n<tr><td style=\"padding:8px 0;color:#888;\">STC Zone</td><td style=\"padding:8px 0;\">${zone_label} (${total_stcs} STCs)</td></tr>\n</table>\n${body.notes ? '<h2 style=\"color:#1a5276;font-size:18px;\">Notes</h2><p style=\"background:#f8f9fa;padding:16px;border-radius:8px;\">' + body.notes + '</p>' : ''}\n${fileInfo ? '<h2 style=\"color:#1a5276;font-size:18px;\">Uploaded Bill</h2><p>File: ' + fileInfo.fileName + ' (' + Math.round(fileInfo.fileSize/1024) + ' KB)</p>' : ''}\n<hr style=\"border:none;border-top:1px solid #eee;margin:20px 0;\">\n<p style=\"color:#888;font-size:12px;\">Lead ${lead_id} | Generated ${new Date().toISOString()}</p>\n</div></body></html>`;\n\n// ============================================\n// RESPONSE\n// ============================================\nreturn [{ json: {\n  success: true,\n  lead_id: lead_id,\n  message: 'Firm quote request received. Our team will contact you within 24 hours.',\n  quote_reference: lead_id,\n  recommended_package: pkg,\n  packages: { economy, premium },\n  system: { solar_kw: rec_solar_kw, battery_kwh: rec_battery_kwh },\n  stc_rebate: { zone: detected_zone, zone_label, total_stcs, rebate_aud: stc_rebate_aud },\n  price_range_aud: [economy.net_price_aud, premium.net_price_aud],\n  estimated_monthly_savings_aud: [Math.round(sav_min), Math.round(sav_max)],\n  customer: { full_name: body.full_name, email: body.email, mobile: body.mobile || '', address: body.address, goal, phase, notes: body.notes || '' },\n  file_received: fileInfo ? { name: fileInfo.fileName, size_kb: Math.round(fileInfo.fileSize / 1024), type: fileInfo.extension } : null,\n  maps_url: mapsUrl,\n  next_steps: [\n    'Bill will be analysed by our engineering team',\n    'Site assessment scheduled within 48 hours',\n    'Detailed quote with panel/inverter specs provided',\n    'No obligation - compare with other quotes',\n  ],\n  _sales_email_to: CONFIG.sales_email_to,\n  _sales_email_subject: CONFIG.sales_email_subject_prefix + ' ' + body.full_name + ' - ' + pkg + ' [' + lead_id + ']',\n  _sales_email_html: emailHtml,\n}}];\n"
      },
      "id": "e1a1b1c1-0001-4000-8000-000000000005",
      "name": "Firm Quote Engine",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        620
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e1a1b1c1-0001-4000-8000-000000000006",
      "name": "Send Quote Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        780,
        620
      ]
    },
    {
      "parameters": {
        "width": 480,
        "height": 320,
        "content": "## Solar Estimate & Lead Qualifier\n\n**Two endpoints, zero API keys needed:**\n\n`POST /webhook/solar-estimate` - Ballpark estimate\n`POST /webhook/solar-firm-quote` - Bill upload + lead\n\n---\n\n**To customise pricing & sizing:**\nEdit the `CONFIG` object at the top of each Code node.\n\n**To add email notifications:**\nAdd a Send Email node after Firm Quote Engine, use `{{ $json._sales_email_html }}` for body."
      },
      "id": "e1a1b1c1-0001-4000-8000-000000000010",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        60,
        60
      ]
    },
    {
      "parameters": {
        "width": 360,
        "height": 140,
        "content": "### Email Integration (optional)\nConnect a **Send Email** node here.\n- To: `{{ $json._sales_email_to }}`\n- Subject: `{{ $json._sales_email_subject }}`\n- HTML Body: `{{ $json._sales_email_html }}`"
      },
      "id": "e1a1b1c1-0001-4000-8000-000000000011",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        520,
        820
      ]
    }
  ],
  "connections": {
    "POST /solar-estimate": {
      "main": [
        [
          {
            "node": "Estimate Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Estimate Engine": {
      "main": [
        [
          {
            "node": "Send Estimate Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /solar-firm-quote": {
      "main": [
        [
          {
            "node": "Firm Quote Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Firm Quote Engine": {
      "main": [
        [
          {
            "node": "Send Quote Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "tags": []
}